---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<style is:global>
	@reference "../styles/global.css";
	/* En esta versión de tailwindcss (4.0.8) se requiere de referenciar a la stylesheet de donde se importa tailwind
	para poder utilizar las utility classes junto a la normativa @apply */

	/* En versiones antiguas el tailwind.config.mjs se encargaba de esto pero considero bastante más fácil
	esta nueva sintaxis.
	Extraje esta información desde la página oficial de Tailwind: https://tailwindcss.com/docs/functions-and-directives#apply-directive
	*/

	html{
		background-color: #13151a;
		color: white;
	}
	body {
		@apply grid place-content-center m-10;
		
	}
	body > div {
		@apply container;
	}

</style>
